# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# AWS Cognito
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_ISSUER=
COGNITO_DOMAIN=

# API
NEXT_PUBLIC_API_URL=http://localhost:5000
